

<!--Since most of our pages are going to be the same, we will use a 'base' template and extend that for the other pages by overriding specifications-->
<!--already linked our css style sheet here, if you create a static folder, flask auto creates a /flask directory for you to find your style sheets-->
<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Flaskr</h1>
  <ul>
    <!--g is automatically available in templates-->
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
        <!--url_for is also automatically available in templates to reference other url views-->
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  <!--get_flashed_messages will show all of the messages that you captured with flash() in the views and display them-->
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>